.tix-bg {
    margin: 40px 0;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(../../assets/img/tix-banner.36bfeb64.png);
      box-sizing: border-box;
    .container {
      .text-content {
          .mb-3 {
              text-align: center;
          }
      }
      .description {
          text-align: center;
      }
    }
  }