$dark: #818181;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  .me-auto {
    .nav-link {
      &.active {
        color: red;
      }
    }
    .navbar-user {
      color: #0D6EFD;
      position: absolute;
      top: 11px;
      border-radius: 12px;
      width: 100px;
      right: 120px;
      font: bold 1rem sans-serif;
    }
    .btn-login{
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 20px;
      border: 1px solid #535353;
      height: 40px;

      &:hover {
        background-color: white;
      }
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0 14.5px;
      color: white;
      background-color: #303030;
      border: 1px solid #535353;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }

    .btn-logout {
      border-radius: 5px;
      margin-left: 150px;
      padding: 0 20px;
      border: 1px solid #535353;
      height: 40px;

      &:hover {
        background-color: white;
      }
    }
  }
}
.gotop {
  font-size: 30px;
  color: $dark;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: color 0.2s linear;
  z-index: 999;
  &:hover {
    color: #fff;
  }
}
