body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  .me-auto {
    .nav-link {
      &.active {
        color: red;
      }
    }
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 20px;
      border: 1px solid #535353;
      height: 40px;

      &:hover {
        background-color: white;
      }
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0 14.5px;
      color: white;
      background-color: #303030;
      border: 1px solid #535353;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }
  }
}
